#Ignore the output directories
/experiments
#Ignore the test directories
/test
#ignore the run directory content
/run
#ignore the temporary files
.lazybones/
#Ignore compiled swift code
*\.tic
#in case there is any editor file
*\.swp
# time logs
times_*
#run dirs
run_*
#various random files
new.input
